.wrapper {
    margin-top: 70px;
}
.awards {
    overflow: hidden;
    display: flex;
    border-radius: 20px;
}
.awards .skeleton, .awards .image {
    width: 263px;
    height: 375px;
    transition: 0.5s;
}
.skeleton, .image:hover {
    transform: scale(1.1);
    cursor: url("../../../img/zoom-in.png"), auto;
}

@media (max-width: 1000px) {
    .awards .skeleton, .awards .image {
        width: 250px;
        height: 375px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        margin-top: 50px;
    }
    .awards .skeleton, .awards .image {
        width: 200px;
        height: 300px;
    }
}
@media (max-width: 360px) {
    .awards .skeleton, .awards .image {
        width: 170px;
        height: 250px;
    }
}