.wrapper {
    padding: 30px 0;
}
.image, .skeleton {
    width: 260px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
}
.scale {
    overflow: hidden;
    border-radius: 20px;
    display: flex;
}
.image {
    transition: 0.5s;
}
.image:hover {
    transform: scale(1.1);
    cursor: url("./zoom-in.png"), auto;
}

@media (max-width: 1000px) {
    .image, .skeleton {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 768px) {
    .image, .skeleton {
        width: 166px;
        height: 166px;
    }
}